<a id="psuoff_indicator" class="pull-right" title="Switch off supply" href="#" data-bind="click: function() { loginState.isUser() && $root.turnoffPSU(); }, visible: (isPSUOn() !== undefined)" style="display: none">
    <i class="icon-bolt"></i>
</a>
