<form class="form-horizontal">
    <h4>General</h4>
    <div class="control-group">
        <div class="controls">
            <label class="checkbox">
            <input type="checkbox" data-bind="checked: settings.plugins.psuoff.enablePowerOffWarningDialog"> Show warning dialog when powering off via toggle button.
            </label>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">GPIO Mode</label>
        <div class="controls">
            <select data-bind="value: settings.plugins.psuoff.GPIOMode">
                <option value="BOARD">BOARD</option>
                <option value="BCM">BCM</option>
            </select>
            <span class="help-inline">Pin number will be converted if an alternate mode has already been set by another plugin.</span>
        </div>
    </div>
    <br />
    <div class="control-group">
        <label class="control-label">Off GPIO Pin</label>
        <div class="controls">
            <input type="number" min="0" class="input-mini" data-bind="value: settings.plugins.psuoff.onoffGPIOPin"> <input type="checkbox" data-bind="checked: settings.plugins.psuoff.invertonoffGPIOPin"> Invert
        </div>
    </div>

    <h4>Power Off Options</h4>
    <div class="control-group">
        <div class="controls">
            <label class="checkbox">
            <input type="checkbox" data-bind="checked: settings.plugins.psuoff.powerOffWhenIdle"> Automatically turn PSU OFF when idle
            </label>
        </div>
    </div>
    <!-- ko if: settings.plugins.psuoff.powerOffWhenIdle() -->
    <div class="control-group">
        <label class="control-label">Idle Timeout</label>
        <div class="controls">
            <div class="input-append">
                <input type="number" min="0" class="input-mini text-right" data-bind="value: settings.plugins.psuoff.idleTimeout">
                <span class="add-on">min</span>
            </div>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">Ignore Commands</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.psuoff.idleIgnoreCommands">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">Wait For Temperature</label>
        <div class="controls">
            <div class="input-append">
                <input type="number" min="0" class="input-mini text-right" data-bind="value: settings.plugins.psuoff.idleTimeoutWaitTemp">
                <span class="add-on">°C</span>
            </div>
        </div>
    </div>
    <!-- /ko -->
    <div class="control-group">
        <div class="controls">
            <label class="checkbox">
            <input type="checkbox" data-bind="checked: settings.plugins.psuoff.shutdownOnPowerOff"> Shutdown system on power off.
            </label>
        </div>
    </div>

Pro vypinani napajeni tiskarny a soucasne i Raspberry. Odvozeno z pluginu PSUControl od Shawn Bruce. <BR>
(C) Tomas Bubela 

</form>
